body {
    font-family: 'Switzer', sans-serif;
}

button {
    all: unset;
    border: 3px solid;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    height: 50px 50px;
    width: 200px;
    text-align: center;
    font-size: 30px;
}




.disabled {
    background: #d3d3d3;
    color: #727272;
    border: none;
    padding: 5px 10px;
    cursor: zoom-in;
}

.header {
    text-align: center;
}

.title, .subtitle {
    margin: 0;
}

.title {
    font-size: 80px;
    font-weight: 800;
}

.subtitle {
    font-size: 30px;
    font-weight: 300;
}

span {
    font-style: italic;
    font-weight: 700;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}